### Importação dos dados

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)


loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

In [2]:
loja['Loja'] = 'Loja'
loja2['Loja'] = 'Loja2'
loja3['Loja'] = 'Loja3'
loja4['Loja'] = 'Loja4'
loja2.head(15)

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon,Loja
0,Cadeira de escritório,moveis,378.20,20.421138,04/08/2021,Thiago Silva,MG,1,boleto,1,-18.10,-44.38,Loja2
1,Pandeiro,instrumentos musicais,102.37,3.035334,26/11/2020,Bianca Santos,RJ,3,cartao_credito,4,-22.25,-42.66,Loja2
2,Cama king,moveis,591.13,31.759020,22/10/2021,Thiago Silva,SC,5,cartao_credito,10,-27.45,-50.95,Loja2
3,Cama king,moveis,1208.24,61.919584,04/05/2022,Larissa Alves,RS,5,cartao_credito,10,-30.17,-53.50,Loja2
4,Cadeira de escritório,moveis,530.41,25.827176,26/02/2022,Lucas Oliveira,SP,4,cartao_credito,3,-22.19,-48.79,Loja2
5,Violão,instrumentos musicais,397.84,21.466909,10/09/2021,Beatriz Moraes,MT,5,cartao_credito,3,-12.64,-55.42,Loja2
6,Mochila,esporte e lazer,141.24,12.000644,10/06/2020,Bianca Santos,SP,1,cupom,1,-22.19,-48.79,Loja2
7,Tablet ABXY,eletronicos,1283.53,65.928550,12/04/2022,Juliana Costa,RJ,4,boleto,1,-22.25,-42.66,Loja2
8,Panela de pressão,utilidades domesticas,110.40,6.409572,11/04/2022,Thiago Silva,BA,5,boleto,1,-13.29,-41.71,Loja2
9,Cubo mágico 8x8,brinquedos,12.09,5.123795,04/09/2021,Camila Ribeiro,SP,5,cartao_credito,1,-22.19,-48.79,Loja2
10,Mochila,esporte e lazer,115.70,12.402612,18/04/2020,Thiago Silva,MG,5,cartao_credito,5,-18.10,-44.38,Loja2
11,Secadora de roupas,eletrodomesticos,1171.84,62.680081,25/09/2021,Rafael Costa,BA,1,cartao_credito,2,-13.29,-41.71,Loja2
12,Jogo de tabuleiro,brinquedos,203.95,11.799572,13/09/2022,Rafael Costa,GO,4,cartao_credito,10,-15.98,-49.86,Loja2
13,Xadrez de madeira,brinquedos,48.44,3.110389,10/12/2022,Isabella Pereira,MG,5,boleto,1,-18.10,-44.38,Loja2
14,Bicicleta,esporte e lazer,685.12,42.722514,11/11/2021,Juliana Costa,RS,4,cartao_credito,2,-30.17,-53.50,Loja2

In [3]:
todas_lojas = pd.concat([loja, loja2,  loja3 , loja4], ignore_index=True)
todas_lojas['Faturamento'] = todas_lojas['Preço'] + todas_lojas['Frete']
todas_lojas.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon,Loja,Faturamento
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79,Loja,228.329790
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66,Loja,267.584305
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86,Loja,300.772681
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50,Loja,1064.657344
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38,Loja,473.954689

In [4]:
todas_lojas.groupby('Loja')['Faturamento'].sum()

Loja
Loja     1.616347e+06
Loja2    1.567773e+06
Loja3    1.542048e+06
Loja4    1.458253e+06
Name: Faturamento, dtype: float64

# 2. Vendas por Categoria

In [43]:
todas_lojas.groupby('Categoria do Produto')['Faturamento'].sum()

Categoria do Produto
brinquedos               1.035024e+05
eletrodomesticos         1.860199e+06
eletronicos              2.332048e+06
esporte e lazer          2.008919e+05
instrumentos musicais    4.897015e+05
livros                   5.300743e+04
moveis                   1.064150e+06
utilidades domesticas    8.092172e+04
Name: Faturamento, dtype: float64

In [7]:
todas_lojas.groupby('Categoria do Produto')['Produto'].count()

Categoria do Produto
brinquedos               1290
eletrodomesticos         1149
eletronicos              1772
esporte e lazer          1113
instrumentos musicais     753
livros                    742
moveis                   1886
utilidades domesticas     730
Name: Produto, dtype: int64

# 3. Média de Avaliação das Lojas

In [11]:
todas_lojas.groupby('Loja')['Avaliação da compra'].mean().round(2)

Loja
Loja     3.98
Loja2    4.04
Loja3    4.05
Loja4    4.00
Name: Avaliação da compra, dtype: float64

# 4. Produtos Mais e Menos Vendidos

In [12]:
todas_lojas['Produto'].value_counts()

Produto
Cômoda                         210
Carrinho controle remoto       206
Micro-ondas                    206
Bateria                        203
Cama king                      201
Secadora de roupas             200
Modelagem preditiva            200
Jogo de panelas                200
Cama box                       199
Blocos de montar               199
Celular Plus X42               198
Guarda roupas                  197
Pandeiro                       197
Bola de basquete               197
Bicicleta                      196
Iniciando em programação       195
Smart TV                       192
Geladeira                      191
Lava louças                    189
Faqueiro                       189
Violão                         188
Impressora                     188
Kit banquetas                  188
Copo térmico                   187
Fogão                          187
TV Led UHD 4K                  187
Corda de pular                 186
Mesa de jantar                 185
Bola de vôlei                  184
Sofá retrátil                  182
Cadeira de escritório          181
Dashboards com Power BI        181
Cubo mágico 8x8                180
Xadrez de madeira              180
Tablet ABXY                    179
Lavadora de roupas             176
Boneca bebê                    175
Mesa de centro                 175
Dinossauro Rex                 175
Jogo de tabuleiro              175
Fone de ouvido                 174
Panela de pressão              172
Smartwatch                     172
Jogo de copos                  169
Poltrona                       168
Assistente virtual             167
Ciência de dados com python    166
Guitarra                       165
Mochila                        163
Headset                        158
Celular ABXY                   157
Name: count, dtype: int64

# 5. Frete Médio por Loja

In [13]:
todas_lojas.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon,Loja,Faturamento
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79,Loja,228.329790
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66,Loja,267.584305
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86,Loja,300.772681
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50,Loja,1064.657344
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38,Loja,473.954689

In [15]:
todas_lojas.groupby('Loja')['Frete'].mean().round(2)

Loja
Loja     34.69
Loja2    33.62
Loja3    33.07
Loja4    31.28
Name: Frete, dtype: float64